@{
    ViewData["Title"] = "Index";
}

<h2>IEX Trading Application</h2>
<hr />

<div>
    <p>
        This application let's you fetch trading data from IEX via their public <a href="https://iextrading.com/developer/">API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This data can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Quote">Quote</a> tab let's you select a Company(symbol) and fetches a quote from
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The quote can also be saved in the local database.
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a> tab let's you refresh the local database, that is, remove all its contents.
    </p>

    <h2>Our Stock Picking Strategy</h2>
    <hr />

    <div>
        <p>
            When we are doing stock selection, we have a lot of values to see.
            In the assignment of our group, we chose to calculate 52-Week High/Low of
            each stock as our stock selection strategy. A 52-week high/low is the highest and lowest price that a         stock has traded at during the previous year. It is a technical indicator used by some traders and         investors who view the 52-week high or low as an important factor in determining a stock's current value         and predicting future price movement. As a stock trades within its 52-week price range (the range that             exists between the 52-week low and the 52-week high), these investors may show increased interest a price          nears either the high or the low.
        </p>
        <p>

            A simple way to measure price momentum is to consider the proximity of a stock to its 52-week high or low.        The formula we used for this was current price minus 52-week low divided by 52-week high minus 52-week             low.Stocks that score 82% or higher on this formula tend to outperform, while stocks that score 41% or        lower tend to underperform

        </p>
        <p>
            WHY IT MATTERS:
            The 52-week high/low serves as an indicator for potential investors. Investor's will often reference the 52-week high and low for a stock when looking at the current price. If the price is near or approaching the 52-week low, they might consider it a good time to buy. If the price is nearer or approaching the 52-week high, it might not be a good time to buy. Also, in the latter situation, it may signal a good time to sell. Investors can buy a stock when it trades above its 52-week range, or open a short position when it trades below it. Aggressive traders could place a stop-limit order slightly above or below the 52-week trade to catch the initial breakout. Price often retraces back to the breakout level before resuming its trend; therefore, traders who want to take a more conservative approach may want to wait for a retracement before entering the market to avoid chasing the breakout.
        </p>

    </div>
</div>